.need {
    padding: 80px 0 120px;
    position: relative;

    &__title {
        max-width: 706px;
        width: 100%;
        margin: 0 auto 24px;
    }

    &__descr {
        max-width: 1110px;
        width: 100%;
        text-align: center;
        margin: 0 auto 70px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include a (laptop) {
            flex-direction: column;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__item {
        background-color: $light-color;
        border-radius: 15px;
        max-width: 690px;
        width: 100%;
        padding: 35px;

        &-title {
            font-size: toRem(32);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
            display: block;
            margin-bottom: 10px;

            @include a (laptop) {
                text-align: center;
            }
        }

        &-descr {
            @include a (laptop) {
                text-align: center;
            }
        }
    }

    &__bg {
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: -1;

        @include a (tablet) {
            display: none;
        }
    }
}