.transform {
    padding: 120px 0;

    &__title {
        max-width: 578px;
        width: 100%;
        margin: 0 auto 22px;
    }

    &__descr {
        max-width: 1110px;
        width: 100%;
        text-align: center;
        margin: 0 auto 70px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include a (laptop) {
            flex-direction: column;
            gap: 50px;
            margin-bottom: 50px;
        }
    }

    &__content {

        @include a (laptop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            font-size: toRem(32);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
            display: block;
            margin-bottom: 17px;
        }

        &-descr {
            max-width: 600px;
            width: 100%;
            margin: 0;

            &:nth-child(3) {
                margin-bottom: 30px;
            }

            @include a (laptop) {
                text-align: center;
            }
        }

        &-2 {
            @include a (laptop) {
                order: 2;
            }
        }
    }
}