@font-face {
    font-family: 'Heebo';
    src: url('/src/assets/fonts/Heebo-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('/src/assets/fonts/Heebo-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merienda One';
    src: url('/src/assets/fonts/MeriendaOne-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/MeriendaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

